.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.bg{
    background: red;
    width: 900px;
}
.first{
    background: yellow;
    float: left;
    height: 100px;
    width: 100px;
    margin: 100px;
    left: 0;
    top: 0;
}
.second{
    background: blue;
    height: 100px;
    width: 100px;
    margin: 100px;
    float: left;
}
.third{
    background: green;
    height: 100px;
    width: 100px;
    margin: 100px;
}
.bg div:nth-child(3){
    float: right;
}